@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lightgray: hsl(241, 100%, 89%);
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Hanken Grotesk;
}

/* Button */

.btn {
    cursor: pointer;
    background: hsl(224, 30%, 27%);
    color: #fff;
    text-decoration: none;
    width: 325px;
    border: none;
    height: 60px;
    font-family: Hanken Grotesk;
    font-size: 18px;
    border-radius: 200px;
    transition: all 0.5s;
    margin-top: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus {
    opacity: 0.8;
}

.btn:active {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* Container */
.container {
    top: 0;
    background: #fff;   
    margin-top: 13vh;
}


/* Result */
.result {
    display: flex;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    max-width: 480px;
    margin: auto;
    text-align: center;
}

.result h3 {
    color: var(--lightgray);
    margin-bottom: 30px;
}

.score {
    display: flex;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.score h1 {
    font-size: 3.5rem;
    margin: 0;
}

.score p {
    color: var(--lightgray);
    margin: 0;
}

.result p.a {
    font-weight: 500;
    color: var(--lightgray);
    width: 70%;
    margin-bottom: 30px;
}

/* Summary */
.summary {
    width: 95%;
    max-width: 400px;
    margin: auto;   
}

.summary h3 {
    color: hsl(224, 30%, 27%)
}

.summary-main {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    margin: auto;
}

.summary .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
}

.summary .stat .stat-title {
    display: flex;
}

.summary .stat .stat-title * {
    margin-left: 20px;
}

.summary .stat p {
    margin-right: 20px;
    color: #878787;
    font-weight: bold;
}

.summary .stat p b {
    color: hsl(224, 30%, 27%);
}

/* Stat Colors */
.summary .stat.a {
    background: hsla(0, 100%, 67%, 0.05);
}
.summary .stat.a .stat-title * {
    color: hsla(0, 100%, 67%, 0.8);
}

.summary .stat.b {
    background: hsla(39, 100%, 56%, 0.05);
}
.summary .stat.b .stat-title * {
    color: hsla(39, 100%, 56%, 0.8);
}

.summary .stat.c {
    background: hsla(166, 100%, 37%, 0.05);
}
.summary .stat.c .stat-title * {
    color: hsla(166, 100%, 37%, 0.8);
}

.summary .stat.d {
    background: hsla(234, 85%, 45%, 0.05);
}
.summary .stat.d .stat-title * {
    color: hsla(234, 85%, 45%, 0.8);
}
/* Attribution */
.attribution {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 12px; 
    text-align: center;
    bottom: 0;
}

.attribution a { 
    text-decoration: none;
    font-weight: bold;
    color: hsl(228, 45%, 44%); 
}       

.attribution a:hover {
    font-size: 18px;
    margin: 0 8px;
}

.attribution a:focus {
    font-size: 18px;
    margin: 0 8px;
}

@media (min-width: 769px) {
    body {
        background: hsl(221, 100%, 96%);
    }

    .result {
        width: 50%;
        margin: 0;
    }
    .result h2 {
        font-size: 2rem;
    }
    .score {
        width: 200px;
        height: 200px;
    }
    .summary {
        width: 50%;
        margin-right: 0 20px;
        margin-bottom: 50px;
    }
    .summary h3 {
        margin-left: 7.5%;
    }
    .summary-main {
        width: 85%;
    }
    .container {
        position: absolute;
        display: flex;
        width: 90%;
        max-width: 900px;
        border-radius: 30px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        box-shadow: 10px 10px hsla(224, 30%, 27%, 0.05);
    }
}
